{% extends "base.html" %}

{% block head %}
    {{ super() }}

    <meta property="twitter:card" content="summary" />
    {% if article.author %}
        <meta property="twitter:site" content="@{{ article.author }}" />
    {% endif %}
    <meta property="twitter:title" content="{{ article.title }}" />
    {% if article.image %}
        <meta property="twitter:image" content="{{ FEED_DOMAIN }}/{{ article.image }}" />
    {% endif %}
    <meta property="twitter:description" content="{{ article.summary|e }}" />

    <meta property="og:title" content="{{ article.title }}" />
    <meta property="og:type" content="article" />
    {% if article.image %}
        <meta property="og:image" content="{{ FEED_DOMAIN }}/{{ article.image }}" />
    {% endif %}
    <meta property="og:url" content="{{ FEED_DOMAIN }}/{{ article.url }}" />
    <meta property="og:description" content="{{ article.summary|e }}" />
    <meta property="og:site_name" content="{{ SITENAME }}" />
{% endblock %}

{% block navigation %}
     <div class="navigation">
        <ol class="nav">
          <li class="current"><a href="/">Blog</a> </li>
          <li><a href="/archives.html">Archive</a></li>
          <li><a href="/tags.html">Tags</a> </li>
          <li><a href="{{ FEED_RSS }}">RSS</a> </li>
        </ol>
      </div>
{% endblock navigation %}

{% block content %}
<section id="content" class="body">
  <header class="post">
    <h1 class="entry-title">
      {{ article.title }}
    </h1>
  </header>
  <footer class="post-info">
    {% include "article_info.html" %}
  </footer><!-- /.post-info -->
  <div class="entry-content">
    {{ article.content }}
  </div><!-- /.entry-content -->
{% include 'disqus.html' %}
</section>
{% endblock %}
